@RenderPage("design.cshtml")
@{
    var db = Database.Open("Glyphs");
    //queries
    string uc = "SELECT * FROM users Where username = @0" ; 
    string up = "SELECT * FROM users Where email = @0" ;
    var ec = "";
    var ud = "";
    var pass = "";
    var d = "";

    int id = 1;

    //EMAIL part
    var customerUsername = Request["userName"];
    var customerEmail = Request["userEmail"]; 
    var errorMessage = "";
    var debuggingFlag = false;

    foreach(var us in db.Query(uc, customerUsername)){
        ec = @us.email;
        id = @us.id;
    }
    foreach(var ua in db.Query(up, customerEmail)){
        ud = @ua.username;
    }
    if (ec != customerEmail){
        errorMessage="Username and e-mail do not match";
    }
    if (ud != customerUsername){
        errorMessage= errorMessage+ "Username and e-mail do not match";
    }

    if (customerUsername == ""){
        errorMessage= errorMessage+ "You need to enter your username. ";
    }
    if (customerEmail == ""){
        errorMessage= errorMessage+ "You need to enter your email.";
    }
    if(errorMessage == ""){
            int length = 5; //maximum: 32
             pass = Guid.NewGuid().ToString("n").Substring(0, length);
            var pass2 = Guid.NewGuid().ToString("N").Substring(0, length);
            
            pass = pass + pass2;
            //update password
              d = Crypto.SHA256(pass + customerUsername);
             var updateCommand = "UPDATE users SET password=@0 WHERE id=@1";
             db.Execute(updateCommand, d, id);

            try {
                // Initialize WebMail helper
                WebMail.SmtpServer = "smtp.gmail.com";
                WebMail.SmtpPort = 587;
                WebMail.EnableSsl = true;
                WebMail.UserName = "wynnejoneslucy@gmail.com";
                WebMail.Password = "fr11tyfr11ty";
                 //   WebMail.From = "wynnejoneslucy@gmail.com";

       
                // Send email
                WebMail.Send(to: customerEmail,
                    subject: "Reset your password",
                    body: "<div style='color: yellow; background-color:blue; margin:3%;'><h1>Reset your password </h1></div> <p>Hi " +ud+ ",</p><p>Your password has been reset to:"+pass+"</p></body>" );
       
            }
            catch (Exception ex ) {
                errorMessage = ex.Message;
            }
    }
}
 <h2>Password Reset</h2>
    @if(errorMessage == ""){
        
      <p>You have been sent the e-mail. Go to you inbox to access your new password.</p>
    }
    else{
        <p>@errorMessage</p>
       <p>Please try again <a href="Reset.cshtml">here</a>.</p>
    }
@RenderPage("footer.cshtml")