@{
var db = Database.Open("Glyphs");

string uc = "SELECT * FROM users Where username = @0" ; 
string up = "SELECT * FROM users Where password = @0" ;
//keeps safe: https://www.asp.net/web-pages/overview/getting-started/introducing-aspnet-web-pages-2/entering-data
string ucp = "SELECT * FROM users Where username = @0 AND password = @1" ; 

var e = "£";
int iu = 4143543;
int ip = 4143543;

int co = 0;
var cp = 0;
var d = "dda000";
var eu = "declared";
int log = 0;
var email = "email";

}


    

@{

                        
       if (IsPost){
       
           var user = Request["user"];
           var pass = Request.QueryString["pass"];

               @RenderPage("design.cshtml")

                d = Crypto.SHA1(pass + user);
                foreach(var unss in db.Query(uc, user)){
                    co += 1;
                    email = @unss.email;
                }

                foreach(var us in db.Query(ucp, user, d)){
                    co += 1;
                    email = @us.email;
                }
                
              
                        
                
           }
          
           
                
         
       

       else{
           @RenderPage("design.cshtml")
            <h2>Log in</h2>

           <form action="unsafe.cshtml" method="post">

            <table>
                <tr><td>Username:</td><td><input type="text" name="user"></input></td></tr>
                <tr><td>Password:</td><td><input type="password" name="pass"></input></td></tr>
            </table>
               <input type="submit" name="submit" value="Submit"></input>
               </form>
       }
 }

@RenderPage("footer.cshtml")