@RenderPage("design.cshtml")
@{
var db = Database.Open("Glyphs"); 
string quiz = Request.QueryString["quiz"];

string choice = "SELECT * FROM Questionaires Where id= @0" ; 

string inn = "vsa";
string test = "test";
string tested = "tested";
string table = "icons";
string nd = "tq";
string type = "default";


/*
            string number = Request["no"];
         int nu = number.AsInt();
  */                      
                    
        string ic = ".png";
        var not = "2";
    
        var c = 0;
        var g = 0; 
        var p = 0;

        var right = "declared";
        var thro = 0;
       // var qu = "qu";
        }


@foreach(var questioning in db.Query(choice, quiz))
                    {
                        
                        <h2>@questioning.Name</h2>
                        <p>@questioning.Description</p>
                       
                        
                        inn = @questioning.Query;
                        test = @questioning.objectTested;
                        tested = @questioning.results;
                        nd = @questioning.TestQuery;
                        type = @questioning.Type;
                        table = @questioning.table;
                    }
@{

                        
       if (IsPost){


           
          
            string number = Request["no"];
                     int nu = number.AsInt();
                     string cnot = "default";

                     <div id="results" style="display: none;">
                         
                         <table id="score">
                        @{                                         
                         for (int r = 0; r < nu; r++){
                             var fq = "f"+thro;
                             var fr = "fr"+thro;
                             
                             
                             if (test == "image"){
                                var een = "scr"+thro;    
                                <tr><td><img id="@een" src='/images/A1.png' alt="Question"/></td><td><p id="@fq"></p></td><td><p id="@fr"></p></td></tr>
                            }
                            thro = thro + 1;
                         }
                        }
                          </table>

                         <p id="tscore"></p>
                     </div>

        <script>
            var t = 0;
            var f = 0;
        </script>
           
           <button onclick="fin()" id="result" style="display: none;">Finish</button>
                    

                    for (int n = 0; n < nu; n++){
                          
                           
                          var qu  = "qu"+@p;
                           <div id='@qu' style="display: none;"> 
                               
                        
                           @{
                              

                        if (type != "default"){
                            

                            foreach(var tests in db.Query(inn, type)){
                                

                                        <br>
                                    <br>
                                   
                                    if (test == "image"){
                                      
                                       

                                      <img src='/images/@tests.name@ic' alt="@tests.image" />

                                        <script>
                                        
                                            var pici = "scr"+@p;
                                            document.getElementById(pici).src = "/images/@tests.name@ic";
                                                                
                                         </script>
                                    }
                                    
                                    if (tested == "name"){
                                        right = @tests.name;
                                        
                                    }
                                   // right = right;
                                   var fq = "f"+p;
                                   var rp = "right"+p;
                                    p = p + 1;
                                 //   <p id="@rp" style="display: none;">@right</p>
                                    
                                    <script>
                                        var right = "@right";
                                        document.getElementById("@{@fq;}").innerHTML = "@right";
                                                                
                                    </script>
  
                                 string j = "default";
                                 string k = "default";
                                 string ot = "default";

                                 foreach(var ts in db.Query(nd, type)){
                                      if (@c == 0 && tested == "name"){
                                j = @ts.name;
                            }
                            if (@c == 0){
                  
                              
                                                  c = @g + 1; 
                                                <script>
                                                        var j = "@j";
                                                    </script>  
                                               
                                                  
                                                  
                                                  continue;
                                              }
                            if (@c == 1 && tested == "name"){
                                k = @ts.name;
                            }
              
                                              if (@c == 1 ) {
                
                                                    g = c;
                                                  c = @g + 1; 
                                                    
                                                    //<p>@k</p>;
                                                    <script>
                                                        var k = "@k";
                                                    </script>
                                                    continue;
                                                }
                            if (@c == 2 && tested == "name"){
                                ot = @ts.name;
                            }
                                                if (@c ==2){
                                                      g = c;
                                                  c = @g + 1; 
                                                    ot = @ts.name;
                                                    //<p>@k</p>;
                                                    <script>
                                                        var ot = "@ot";
                                                    </script>
                                                    continue;
                                                }
                                                if (@c == 3){

                                                    //done to make value unique on the page
                    
                                                  break;
                                             }
                                             
        
                                    }
                           

                            
                                 }
                            }
                           
                    
                        

                        else {
                         
                   
                        
                        foreach(var tests in db.Query(inn)){
                           

                            if (test == "image"){
                               
                               
                              <img src='/images/@tests.name@ic' alt="@tests.image" />

                                <script>
                                        
                                            var pici = "scr"+@p;
                                            document.getElementById(pici).src = "/images/@tests.name@ic";
                                                                
                                         </script>
                            }
                            
                            if (tested == "name"){
                                right = @tests.name;
                            }
                           // right = right;
                           var fq = "f"+p;
                            p = p + 1;

                         //   <p id='@right' style="display: none">@right</p>

                            <script>
                                
                                var right = "@right";
                                document.getElementById("@{ @fq;}").innerHTML = "@right";
                            </script>
                            


                      
                         string j = "default";
                         string k = "default";
                         string ot = "default";
                        foreach(var ts in db.Query(nd, right)){
        
                            if (@c == 0 && tested == "name"){
                                j = @ts.name;
                            }
                            if (@c == 0){
                  
                              
                                                  c = @g + 1; 
                                                <script>
                                                        var j = "@j";
                                                    </script>  
                                               
                                                  
                                                  
                                                  continue;
                                              }
                            if (@c == 1 && tested == "name"){
                                k = @ts.name;
                            }
              
                                              if (@c == 1 ) {
                
                                                    g = c;
                                                  c = @g + 1; 
                                                    
                                                    //<p>@k</p>;
                                                    <script>
                                                        var k = "@k";
                                                    </script>
                                                    continue;
                                                }
                            if (@c == 2 && tested == "name"){
                                ot = @ts.name;
                            }
                                                if (@c ==2){
                                                      g = c;
                                                  c = @g + 1; 
                                                    ot = @ts.name;
                                                    //<p>@k</p>;
                                                    <script>
                                                        var ot = "@ot";
                                                    </script>
                                                    continue;
                                                }
                                                if (@c == 3){

                                                    //done to make value unique on the page
                    
                                                  break;
                                             }
                                             
        
                                    }
                        }
                           
                        }
                        

                             var sa = "a"+@p;
                                      var sb = "b"+@p;
                                       var sc = "c"+@p;
                
                                       var oa = "oa"+@p;
                                       var ob = "ob"+@p;
                                       var oc = "oc"+@p;

                   
                                                    
                        
                                            <table>
                                                   <col width="20%">
                                                   <col width="80%">

                                          <tr><td><input type="radio" id="@oa" name="answer"></input></td><td id="@sa"></td> </tr>
                                                    <tr><td><input type="radio" id="@ob" name="answer"></input></td><td id="@sb"></td> </tr>
                                                    <tr><td><input type="radio" id="@oc" name="answer"></input></td><td id="@sc"></td></tr>
                                                    
                       
                                            </table>

          
                        
                                        string work= "working"+@p;
                                string signs = "signs"+@p+"()";
                           
                     
                                                   <script>
                                                        

                                                       //javascript rearrange
                                                      var options = [right, j, k];
                                                              
                                                       if ( j == right && ot != right){
                                                         var options = [right, ot, k];
                                                       }
                                                       if ( k == right && ot != right){
                                                         var options= [right, j, ot];
                                                       }
                                   
                      
                                                        var truth = "@{@right;}";

                                                        var w = Math.random(2).toFixed(0);
                     
                                    
                                    

                       
                                                       
                                                       var n = Math.random(1).toFixed(0);
                       
                                                       if (w == 0)
                                                       {
                                                            
                                                            document.getElementById("@sa").innerHTML = options["0"];

                                                            if (n == 0)
                                                            {
                                            
                                                                document.getElementById("@{ @sc;}").innerHTML = options["2"];
                                                                document.getElementById("@{ @sb;}").innerHTML = options["1"];
                                                            }
                                                            else if (n == 1)
                                                            {
                                           
                                                                document.getElementById("@{ @sc;}").innerHTML = options["1"];
                                                                document.getElementById("@{ @sb;}").innerHTML = options["2"];
                                                            }
                                                       }       
                                                       if (w == 1 ) {
 
                                                            document.getElementById("@sa").innerHTML = options["1"];

                                                            if (n == 0)
                                                            {
                                           
                                                                document.getElementById("@{ @sb;}").innerHTML = options["0"];
                                                                document.getElementById("@{ @sc;}").innerHTML = options["2"];
                                                            }
                                                            else if (n == 1)
                                                            {
                                                                document.getElementById("@{ @sb;}").innerHTML = options["2"];
                                                                document.getElementById("@{ @sc;}").innerHTML = options["0"];
                                                                
                                                            }
                                                       }                
                    
                                                       if (w == 2) {

                                  
                                                            document.getElementById("@sa").innerHTML = options["2"];
                                                           
                            
                                                            if (n == 0)
                                                            {
                                                                document.getElementById("@{ @sc;}").innerHTML = opt["1"];
                                                                document.getElementById("@{ @sb;}").innerHTML = opt["0"];
                                                            }
                                                            else if (n == 1)
                                                            {
                                                                document.getElementById("@{ @sc;}").innerHTML = opt["0"];
                                                                document.getElementById("@{ @sb;}").innerHTML = opt["1"];
                                                            }
                       
                                                       }
                                           
                                               //document.getElementById("@work").innerHTML = +right;
                                   
                                                var f = 0;

                                       function @signs

                                        {
                                            var a = document.getElementById("@{ @oa;}").checked;
                                            var b = document.getElementById("@{@ob;}").checked;
                                            var c = document.getElementById("@{@oc;}").checked;
                                            
                                            var aa = document.getElementById("@{@sa;}").innerHTML;
                                            var ab = document.getElementById("@{@sb;}").innerHTML;
                                            var ac = document.getElementById("@{@sc;}").innerHTML;

                                            

                                            
                                            var pb = @{@p;}-1;
                                            var pp = "qu"+ pb;
                                            var ps = "qu"+ "@{@p;}";
                                            var tot = "@{@nu;}"; 
                                            var fr = "fr"+pb;
                                         //   var rp = "right"+"@{@p;}";  

                                            var truth = "@{@right;}";
                                                       if (aa == truth) 
                                                {
                                                       

                                                    if (a == true)
                                                    {
                                                           ++t;
                                                       document.getElementById(fr).innerHTML = aa;
                                                    }

                                                    if (b == true) 
                                                    {
                                                        ++f;
                                                       document.getElementById(fr).innerHTML = ab;
                                                    }

                                                    if (c == true) 
                                                    {
                                                        ++f;
                                                       document.getElementById(fr).innerHTML = ac;
                                                    }
                                                 }
                                                else if (ab == truth) 
                                                {
                                                    
                                                    if (a == true)
                                                    {
                                                           ++f;
                                                       document.getElementById(fr).innerHTML = aa;
                                                    }

                                                    if (b == true) 
                                                    {
                                                        ++t;
                                                       document.getElementById(fr).innerHTML = ab;
                                                    }

                                                    if (c == true) 
                                                    {
                                                        ++f;
                                                       document.getElementById(fr).innerHTML = ac; 
                                                    }
                                                 }
                                                else if (ac == truth) 
                                                {
                                                    
                                                    if (a == true)
                                                    {
                                                           ++f;
                                                       document.getElementById(fr).innerHTML = aa;
                                                    }

                                                    if (b == true) 
                                                    {
                                                        ++f;
                                                       document.getElementById(fr).innerHTML = ab;
                                                    }

                                                    if (c == true) 
                                                    {
                                                        ++t;
                                                       document.getElementById(fr).innerHTML = ac;
                                                    }
                                                 }

                                            if ("@{@p;}" == tot)
                                                        {

                                                      // f = tot - t;   
                                                        document.getElementById("results").style.display = 'block';
                                                        document.getElementById(pp).style.display = 'none';
                                                        document.getElementById("tscore").innerHTML = "Your scored " +t+ " out of "+tot+ ". You made "+f+" mistakes.";

                                                         var k = main.offsetHeight;

                                                        head = document.getElementById("head");
                                                        var hk = head.offsetHeight;
                                                        nav = document.getElementById("nav");

                                                        var kn = nav.offsetHeight;
                                                        var ts = hk + kn + k + hk + 100;
                                                        var pt = ts + "px";




                                                        document.getElementById("end").style.top = pt;
                                                        
                                                       }  
                                            else {  
                                                document.getElementById(ps).style.display = 'block';
                                                document.getElementById(pp).style.display = 'none';

                                                       var k = main.offsetHeight;

                                                        head = document.getElementById("head");
                                                        var hk = head.offsetHeight;
                                                        nav = document.getElementById("nav");

                                                        var kn = nav.offsetHeight;
                                                        var ts = hk + kn + k + hk + 100;
                                                        var pt = ts + "px";




                                                        document.getElementById("end").style.top = pt;
                                                   
                                               }
                                            

                                                
                                              

                                         
                                        }
                                    </script>
                                    string wok= "working"+@p;
                                string sign = "signs"+@p+"()";
                                <p id="@wok"></p>
                                                    
                                    <button onclick="@sign">a</button>
                                        
                                
                        
                            }        
                     </div>
                 
                     
                      

                        
                    }
                    <script>
                        function start()
                        {
                            
                            document.getElementById("qu0").style.display = 'block';
                            document.getElementById("start").style.display = 'none';

                            var k = main.offsetHeight;

                                                        head = document.getElementById("head");
                                                        var hk = head.offsetHeight;
                                                        nav = document.getElementById("nav");

                                                        var kn = nav.offsetHeight;
                                                        var ts = hk + kn + k + hk + 100;
                                                        var pt = ts + "px";




                                                        document.getElementById("end").style.top = pt;
                            
                        }
                     </script>
                    <button onclick="start()" id="start">Begin</button>
                    
       }
                    

        else
        {
        

           <h2>Select the number questions, you would like.</h2>

            <form method="post" action="">
                <select name="no">
                    @{

                int som = 10;
                int count = 9;
              
                
                  
                for (int amount = 10; amount <= 100; amount++){
               
                 <option value='@amount'>@amount</option><br>
            


             
             
         
               
                
                     amount  = amount + count;
   
                }
            }
            
                    </select>
             <input type="submit" value="Submit" class="submit">
            </form>
        
            
            
        }

        }
        
            @RenderPage("footer.cshtml")


 